/* You can add global styles to this file, and also import other style files */

.ficha {
  margin-bottom: 20px; 
}

.actor-list {
  /*margin: 4px;*/
}

.actor-list-title {
  font-weight: bold;
}

.actor-name {
  margin-left: 10px;
}
